ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  margin-left: 3px;
  margin-right: 3px;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 3px;
}

button:hover {
  background-image: linear-gradient(to top, blue, rgb(143, 179, 245));
}
